#.env file to keep on your local machine, not to be shared or committed to version control (rename to simply ".env" on your systems). 
TMDB_API_KEY = # api key here
TMDB_READ_TOKEN = # read token here
SECRET_KEY = # to generate a new secret key, run the following in Python: 1: import secrets 2:secrets.token_hex(32)